<a href="https://colab.research.google.com/github/hsieh2000/data-mining/blob/main/LinearRegression(Ridge%2C%20Lasso%2C%20ElasticNet).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
df = pd.read_csv("./HW3.csv")

In [59]:
df

,Y,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
0,24.0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,21.6,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,34.7,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,33.4,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,36.2,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN
502,20.6,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,23.9,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,22.0,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,11.9,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88

fill na by each column's median

In [60]:
df.isna().sum()

Y       0
X1     20
X2     20
X3     20
X4     20
X5      0
X6      0
X7     20
X8      0
X9      0
X10     0
X11     0
X12     0
X13    20
dtype: int64

In [61]:
for i in df.columns:
  df[i] = df[i].fillna(df[i].median())

In [62]:
df.isna().sum()

Y      0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
dtype: int64

split train set and test set

In [63]:
data_y = df['Y']
data_X = df.iloc[:,1:]

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, random_state=8, test_size=0.3)

In [65]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

slr = LinearRegression()
slr.fit(X_train, y_train)
print(slr.coef_)
y_train_pred = slr.predict(X_train)
y_test_pred = slr.predict(X_test)

print("MSE train: %.3f, test: %.3f" % (
    mean_squared_error(y_train, y_train_pred),
    mean_squared_error(y_test, y_test_pred)
    ))
print("R^2 train: %.3f, test: %.3f" %(
    r2_score(y_train, y_train_pred),
    r2_score(y_test, y_test_pred)
    ))

[-1.08836140e-01  4.63549951e-02 -4.34556930e-02  3.06091424e+00
 -1.11657320e+01  4.16657565e+00 -2.34848196e-02 -1.43299082e+00
  2.27231744e-01 -9.03471778e-03 -9.10839941e-01  1.05114375e-02
 -5.00091011e-01]
MSE train: 22.127, test: 24.649
R^2 train: 0.742, test: 0.697

Ridge

In [66]:
# grid searching to find the optimal alpha
from sklearn.linear_model import RidgeCV
rg = RidgeCV(alphas=(10, 1.0, 0.01, 0.005, 0.0025))
rg.fit(X_train, y_train)
rg.alpha_

0.01

In [67]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.01).fit(X_train, y_train)
print(ridge.coef_)
y_train_pred = ridge.predict(X_train)
y_test_pred = ridge.predict(X_test)

print("MSE train: %.3f, test: %.3f" % (
    mean_squared_error(y_train, y_train_pred),
    mean_squared_error(y_test, y_test_pred)
    ))
print("R^2 train: %.3f, test: %.3f" %(
    r2_score(y_train, y_train_pred),
    r2_score(y_test, y_test_pred)
    ))

[-1.08789294e-01  4.63702071e-02 -4.37685695e-02  3.05901648e+00
 -1.10637911e+01  4.16736748e+00 -2.35484625e-02 -1.43119226e+00
  2.26981454e-01 -9.04423833e-03 -9.09846340e-01  1.05139695e-02
 -5.00315362e-01]
MSE train: 22.128, test: 24.661
R^2 train: 0.742, test: 0.696

Lasso

In [72]:
# grid searching to find the optimal alpha
from sklearn.linear_model import LassoCV
rg = LassoCV(alphas=(10, 1.0, 0.01, 0.005, 0.0025))
rg.fit(X_train, y_train)
rg.alpha_

0.0025

In [74]:
# ignore certain feature might cause the decrease of the accuracy
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=1).fit(X_train, y_train)
print(lasso.coef_)
y_train_pred = lasso.predict(X_train)
y_test_pred = lasso.predict(X_test)

print("MSE train: %.3f, test: %.3f" % (
    mean_squared_error(y_train, y_train_pred),
    mean_squared_error(y_test, y_test_pred)
    ))
print("R^2 train: %.3f, test: %.3f" %(
    r2_score(y_train, y_train_pred),
    r2_score(y_test, y_test_pred)
    ))

[-0.07873115  0.05498433 -0.00144787  0.         -0.          1.13615143
 -0.         -0.71211671  0.21472842 -0.01269272 -0.78268974  0.00836169
 -0.71423644]
MSE train: 26.782, test: 30.764
R^2 train: 0.688, test: 0.621

In [ ]:
# using the optimal alpha to train the model
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=1).fit(X_train, y_train)
print(lasso.coef_)
y_train_pred = lasso.predict(X_train)
y_test_pred = lasso.predict(X_test)

print("MSE train: %.3f, test: %.3f" % (
    mean_squared_error(y_train, y_train_pred),
    mean_squared_error(y_test, y_test_pred)
    ))
print("R^2 train: %.3f, test: %.3f" %(
    r2_score(y_train, y_train_pred),
    r2_score(y_test, y_test_pred)
    ))

Elastic Net

In [73]:
# grid searching to find the optimal alpha
from sklearn.linear_model import ElasticNetCV
rg = ElasticNetCV(alphas=(10, 1.0, 0.01, 0.005, 0.0025))
rg.fit(X_train, y_train)
rg.alpha_

0.0025

In [79]:
# l1_ratio = 1 is LASSO
from sklearn.linear_model import ElasticNet

elanet = ElasticNet(alpha=0.0025, l1_ratio = 0.5).fit(X_train, y_train)
print(elanet.coef_)
y_train_pred = elanet.predict(X_train)
y_test_pred = elanet.predict(X_test)

print("MSE train: %.3f, test: %.3f" % (
    mean_squared_error(y_train, y_train_pred),
    mean_squared_error(y_test, y_test_pred)
    ))
print("R^2 train: %.3f, test: %.3f" %(
    r2_score(y_train, y_train_pred),
    r2_score(y_test, y_test_pred)
    ))

[-0.10724561  0.04691544 -0.05407454  2.96313684 -7.63778049  4.18580566
 -0.02560745 -1.37039101  0.21894274 -0.00938593 -0.87720062  0.01059688
 -0.50839017]
MSE train: 22.166, test: 25.115
R^2 train: 0.741, test: 0.691